WebClickOnce/Service References/NorthwindServiceReference/NorthwindService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryModel" nillable="true" type="tns:CategoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryModel" nillable="true" type="tns:ArrayOfCategoryModel" />
  <xs:complexType name="CategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryModel" nillable="true" type="tns:CategoryModel" />
  <xs:complexType name="ArrayOfProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductModel" nillable="true" type="tns:ProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductModel" nillable="true" type="tns:ArrayOfProductModel" />
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discontinued" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReorderLevel" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitsInStock" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UnitsOnOrder" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
</xs:schema>