WebClickOnce/Service References/NorthwindServiceReference/NorthwindService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55566/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" />
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q1:ArrayOfCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q2:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Northwind.Contract" minOccurs="0" name="GetProductByCategoryIDResult" nillable="true" type="q3:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>